<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/pages/includes/my97.html"){}
%>
<script type="text/javascript">
	function oper_save() {
		form1.action = "system/dict/save_dict/"+form1["model.dict_id"].value;
		form1.submit();
		return true;
	}
	
	function oper_del() {
		form1.action = "system/dict/delete_dict/"+form1["model.dict_id"].value;
		form1.submit();
		return true;
	}
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post">
	<input type="hidden" name="model.dict_id" value="${item.dict_id}" />
	<!-- 数据列表 -->
	<table class="table">
		<tr>
			<td>类型</td>
			<td>
				<input type="text" name="model.dict_type"   class="form-control" 
				${(item.dict_id!0)>0?'readonly="readonly"':''} value="${item.dict_type}" />
			</td>
		</tr>
		<tr>
			<td>名称</td>
			<td><input type="text" name="model.dict_name" value="${item.dict_name}" class="form-control"  /></td>
		</tr>
		<tr>
			<td>备注</td>
			<td><input type="text" name="model.dict_remark" value="${item.dict_remark}" class="form-control"  /></td>
		</tr>
		<td style="text-align: center;" colspan="2">
		
		</td>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
			<button class="btn btn-primary" onclick="return oper_save();">保 存</button>
		<% if ((item.dict_id!0) > 0 ) {%>
			<button class="btn btn-danger" onclick="return oper_del();">删 除</button>
		<% } %>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} 
DIRECTIVE SAFE_OUTPUT_CLOSE;
%>

