<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>

<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
	<tr>
		<td>父栏目</td>
		<td>
			${model.parentName!'根栏目' }
		</td>
		<td>名称</td>
		<td>${model.name}</td>
	</tr>
	<tr>
		<td>栏目类型</td>
		<td>
			${flyfox.dictValue(model.material_type!'')  }
		</td>
		<td>url_key</td>
		<td>
			${model.key}
		</td>
	</tr>
	<tr>
		<td>模板路径</td>
		<td colspan="3">
			${model.path}
		</td>
	</tr>
	<tr>
		<td>排序</td>
		<td>${model.sort}</td>
		<td>状态</td>
		<td>
			<% if(model.status==2) { %>
			隐藏
			<%	} %>
			<% if(model.status==1) { %>
			显示
			<%	} %>
		</td> 
	</tr>
	<tr>
		<td>跳转类型</td>
		<td>${flyfox.dictValue(model.type )  }</td>
		<td>跳转地址</td>
		<td>${model.jump_url}</td>
	</tr>
	<tr>
		<td>说明</td>
		<td title="${model.content}" colspan="3">
			<% if (strutil.length(model.content) > 30) { %>
				${strutil.subStringTo(model.content, 0, 30)}...
			<%	} else {%>
				${model.content }
			<% } %>
		</td>
	</tr>
	<tr>
		<td>seo_title</td>
		<td title="${model.seo_title}">
			<% if (strutil.length(model.seo_title) > 15) { %>
				${strutil.subStringTo(model.seo_title, 0, 15)}...
			<%	} else {%>
				${model.seo_title }
			<% } %>
		</td>
		<td>seo_keywords</td>
		<td title="${model.seo_keywords}">
			<% if (strutil.length(model.seo_keywords) > 15) { %>
				${strutil.subStringTo(model.seo_keywords, 0, 15)}...
			<%	} else {%>
				${model.seo_keywords }
			<% } %>
		</td>
	</tr>
	<tr>
		<td>seo_description</td>
		<td title="${model.seo_description}" colspan="3">
			<% if (strutil.length(model.seo_description) > 15) { %>
				${strutil.subStringTo(model.seo_description, 0, 15)}...
			<%	} else {%>
				${model.seo_description }
			<% } %>
		</td>
	</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;">保 存</button>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>