<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			<tr>
				<td>名称</td>
				<td>${model.name}</td>
				<td>标题</td>
				<td>${model.site_title }</td>
			</tr>
			<tr>
				<td>模板名称</td>
				<td>${model.template}</td>
				<td>移动模板</td>
				<td>${model.template_mobile}</td>
			</tr>
			<tr>
				<td>序号</td>
				<td>${model.sort}</td>
				<td>状态</td>
				<td>
				<% if(model.status==2) { %>
				禁用
				<%	} %>
				<% if(model.status==1) { %>
				启用
				<%	} %>
				</td>  
			</tr>
			<tr>
				<td>默认目录</td>
				<td>${model.site_folder_id }</td>
				<td>默认文章</td>
				<td>${model.site_article_id }</td>
			</tr>
			<tr>
				<td>pc端域名</td>
				<td>${model.domain_pc}</td>
				<td>移动端域名</td>
				<td>${model.domain_mobile}</td>
			</tr>
			<tr>
				<td>其他域名</td>
				<td colspan="3">${model.domain_others}</td>
			</tr>
			<tr>
				<td>图片<td>
				<td colspan="3">
					<% if(!strutil.isEmpty(model.thumbnail)){ %>
						<a href="${model.thumbnail}" target="_blank" style="text-decoration:none;">
							<img alt="图片" title="点击浏览" src="${model.thumbnail}" width="128" height="128">
						</a>
					<% } %>
				</td>
			</tr>
			<tr>
				<td>说明</td>
				<td title="${model.remark}" colspan="3">
					<% if (strutil.length(model.remark) > 30) { %>
						${strutil.subStringTo(model.remark, 0, 30)}...
					<%	} else {%>
						${model.remark }
					<% } %>
				</td>
			</tr>
			<!-- 
			<tr>
				<td>数据库</td>
				<td colspan="3">${model.db_url}</td>
			</tr>
			<tr>
				<td>数据库用户</td>
				<td>${model.db_user}</td>
				<td>数据库密码</td>
				<td>${model.db_pwd}</td>
			</tr>
			<tr>
				<td>数据库驱动</td>
				<td colspan="3">${model.db_driver}</td>
			</tr>
			-->
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>