<% var headContent = { include("/pages/template/head.html"){} }; var
bodyContent = { %>
<form name="form1" action="" method="post" class="form-horizontal"
	role="form">
	<!-- 数据列表 -->
	<table class="table">
		<% // 列表头部 %>
		<tr>
			<td>上级机构</td>
			<td>${model.parentName!'根节点'}</td>
		</tr>
		<tr>
			<td>机构名称</td>
			<td>${model.name}</td>
		</tr>
		<tr>
			<td>序号</td>
			<td>${model.sort}</td>
		</tr>
		<tr>
			<td>编码</td>
			<td>${model.code}</td>
		</tr>
		<tr>
			<td>联系人</td>
			<td>${model.linkman}</td>
		</tr>
		<tr>
			<td>联系人电话</td>
			<td>${model.linkman_no}</td>
		</tr>
		<tr>
			<td>机构描述</td>
			<td>${model.remark}</td>
		</tr>
	</table>

	<div style="height: 50px; clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container"
			style="padding: 5px 0px 5px 0px; text-align: center;">
			<button class="btn btn-default" onclick="closeIframe();return false;">关
				闭</button>
		</div>
	</nav>
</form>
<%}; %> <%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> <%} %>
