<div class="panel panel-default" style="padding: 5px 0px 5px 10px;">
    <!-- 创意广告  -->
    <script type="text/javascript">
	    var cpro_id="u2214479";
	    (window["cproStyleApi"] = window["cproStyleApi"] || {})[cpro_id]={at:"3",rsi0:"336",rsi1:"280",pat:"17",tn:"baiduCustNativeAD",rss1:"#FFFFFF",conBW:"1",adp:"1",ptt:"0",titFF:"",titFS:"14",rss2:"#000000",titSU:"0"}
	</script>
	<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
	
	<!-- 右侧广告  -->                        
 <!--
  <script type="text/javascript">
    var cpro_id = "u2145342";
	</script>
	<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
	-->
</div>