<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>protocol tools</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="bootstrap-3.3.5/css/bootstrap.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入）
<link rel="stylesheet" href="bootstrap-3.3.5/css/bootstrap-theme.min.css">
 -->
 <link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="home.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script type="text/javascript" src="bootstrap-3.3.5/js/jquery-2.0.0.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>

<style>
.fox-color-1{
	color:#CC9933;
}
.fox-color-2{
	color:#FFFFCC;
}
.fox-color-3{
	color:#CC9933;
}

.fox-nav>li>a {
padding: 5px;
}
</style>

<body >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FOX</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">编程技术 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Java</a></li>
			<li><a href="#">Jfinal</a></li>
            <li><a href="#">Beetl</a></li>
            <li role="separator" class="divider"></li>
			<li><a href="#">hadoop</a></li>
			<li><a href="#">JavaScript</a></li>
            <li><a href="#">NodeJs</a></li>
          </ul>
        </li>
		<li><a href="#">标签</a></li>
		<li><a href="#">留言板</a></li>
		<li><a href="#">联系我们</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索内容...">
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search fox-color-1"></i> 查询</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">登录</a></li>
		<li><a href="#">注册</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户信息 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">文章</a></li>
            <li><a href="#">消息</a></li>
            <li><a href="#">编辑</a></li>
			<li><a href="#">退出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="main" style="margin:0 2%;">
<div class="row">
	

  <!--  新闻 -->
	  <div class="col-md-8">
			<div class="panel panel-default">
		  <div class="panel-heading">
				<ul class="nav nav-pills fox-nav">
				  <li role="presentation" class="active"><a href="#" class="fox-pills"><i class="fa fa-newspaper-o fox-color-1"></i> 默认</a></li>
				  <li role="presentation"><a href="#" class="fox-pills"><i class="fa fa-calendar fox-color-1"></i> 最新</a></li>
				  <li role="presentation"><a href="#"><i class="fa fa-thumbs-up fox-color-1"></i> 精品</a></li>
				  <li role="presentation"><a href="#"><i class="fa fa-commenting fox-color-1"></i> 待回复</a></li>
				</ul>
		  </div>
		  	 <!-- 文章列表 -->
	 	 <ul class="list-group">
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww3.sinaimg.cn/mw690/3fc7e281jw1ep7p6ei1g8j20sg0lcgxc.jpg" alt="S1线6号线西延 明年年底开通" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
				<span class="label label-primary">置顶</span>
				<span class="label  label-success">推荐</span>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
						<small>发布时间：2015-04-20</small>
					&nbsp;
						<small>作者：张三</small>
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S1线预计明年年底将与6号线西延一起开通，同时长安街西延工程预计2017年12月全线通车。未来门头沟也将成为距离中心城区最近、交通最便利的新城。这是门头沟区区长王洪钟今天上午做  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2015-04-20</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/112.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(55)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(4147)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_112" onclick="articlelike.click(112);" 
							class="glyphicon glyphicon-heart"
							title="取消喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	 	<li class="list-group-item">
		<div class="row">
		  <div class="col-md-2">
		  	<div class="thumbnail">
		  	  			  <img src="http://ww2.sinaimg.cn/mw690/3fc7e281jw1eqebcfti0nj20r60ft760.jpg" alt="门头沟宅地楼面价被刷新" height="85" data-holder-rendered="true"
			  	 style="height: 85px; width: 100%; display: block;" >
			</div>
		  </div>
		  <div class="col-md-10">
				<h4>
				<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
					门头沟宅地楼面价被刷新
				</a>
 					<div class="pull-right" style="font-size:12px;">
					
					<!-- 编辑区 -->
					<span>
					(
						<a href="front/person/editblog/1110" target="_blank"><span>编辑</span></a>
					|
						<a href="javascript:void(0);" onclick="delblog(1110);return false;"><span style="color: red;">删除</span></a>
					|
						<a href="front/article/1110.html" target="_blank"><small>查看</small></a>
					)
					</span>
					</div>
				</h4>
				
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;春节后，北京土地市场再迎来拍卖。2月26日，门头沟龙泉镇一宗地块进行竞拍，经过数十轮激烈竞争，中骏以39.48亿元的价格收入囊中，溢价率50%。据业内人士计算，该地楼面价高达4.8万元/平方米，门头沟  ......
				</p>
				
				<footer>
					<div class="pull-left" >
						<small>发布时间：2016-02-29</small>
					</div>
					<div class="pull-right" >
						<a href="front/article/1110.html#article_comment" style="vertical-align: middle;"   target="_blank"><small>评论(0)</small></a>
						&nbsp;
						<small style="vertical-align: middle;" >浏览量(227)</small>
						&nbsp;
												<span style="vertical-align: middle;cursor: pointer;"  id="articlelike_1110" onclick="articlelike.click(1110);" 
							class="glyphicon glyphicon-heart-empty"
							title="喜欢" aria-hidden="true"></span>
					</div>
				</footer>
		  </div>
		 </div>
	</li>
	</ul>
	</div>
</div>

  <!--  新闻 -->
	  <div class="col-md-4">

<style>
<!--
.userinfo .badge {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #777;
}
-->
</style>
<!-- 用户信息 -->
<div class="panel panel-default userinfo">
	  <div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-user fox-color-1" aria-hidden="true"></span> 用户信息</h3>
	  </div>
	  <!-- 
	  <div class="panel-body">
		  	<div class="thumbnail">
		      <img id="title_pic" alt="系统管理员头像"  width="64" height="64" 
						 			class="img_radius" src="http://blog.jflyfox.com/static/images/user/head2.gif">
		      <div class="caption">
		        <h3>系统管理员</h3>
		        <p>&nbsp;&nbsp;&nbsp;&nbsp;时间是最好的老师，但遗憾的是——最后他把所有的学生都弄死了</p>
		      </div>
		  	</div>
		  	
		  	<div class="btn-group btn-group-justified" role="group">
			   <div class="btn-group" role="group">
			    <a class="btn btn-success" href="front/person/newblog" role="button">发布博文</a>
			  </div>
			  <div class="btn-group" role="group">
			  	<a class="btn btn-default" href="front/person/profile" role="button">编辑信息</a>
			  </div>
			</div>
			
			
	  </div>
	   -->
	  <div class="list-group">
		<li class="list-group-item">
			<div class="row">
			  <div class="col-md-2">
			  		<a href="front/person">
			  	  	<img id="title_pic" alt="系统管理员头像"  width="64" height="64" 
						 		class="img_radius"	 src="http://blog.jflyfox.com/static/images/user/head2.gif">
					</a>
			  </div>
			  <div class="col-md-10">
					<strong>系统管理员</strong>
					<p>时间是最好的老师，但遗憾的是——最后他把所有的学生都弄死了</p>
			  </div>
			 </div>
		</li>
	  <a href="front/person/newblog" class="list-group-item">
	  	<span class="glyphicon glyphicon-send fox-color-1" aria-hidden="true"></span>
	  	发布博文
	  </a>
	  <a href="front/person/article" class="list-group-item">
	  	<span class="glyphicon glyphicon-book fox-color-1" aria-hidden="true"></span>
	  	<span class="badge">735</span>
	  	我的博文
	  </a>
	  <a href="front/person/articlelike" class="list-group-item">
	  	<span class="glyphicon glyphicon-heart fox-color-1" aria-hidden="true"></span>
	  	<span class="badge">1</span>
	  	喜欢博文
	  </a>
	  <a href="#" class="list-group-item">
	  	<span class="glyphicon glyphicon-star fox-color-1" aria-hidden="true"></span>
	  	<span class="badge">17</span>
	  	关注用户
	  </a>
	  <a href="#" class="list-group-item">
	  	<span class="glyphicon glyphicon-sunglasses fox-color-1" aria-hidden="true"></span>
	  	<span class="badge">22</span>
	  	我的粉丝
	  </a>
	  <a href="front/person/profile" class="list-group-item">
	  	<span class="glyphicon glyphicon-edit fox-color-1" aria-hidden="true"></span>
	 	 编辑信息
	  </a>
	</div>	 
</div>		
		
		
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title"><span class="glyphicon glyphicon-tags fox-color-1" aria-hidden="true"></span> 其他标签<a class="more" href="front/tags/all">更多</a></h3>
		  </div>
		  <div class="panel-body">
							<ul class="q-taglist clearfix">
							<!-- 
					<li title="标签"><span class="q-icon"></span></li>
					-->
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/S1线">S1线</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/围棋">围棋</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/招聘">招聘</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/无线">无线</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/中考">中考</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/微信平台">微信平台</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/腐败">腐败</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/查毒">查毒</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/交通局">交通局</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/质监局">质监局</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/安全生产月">安全生产月</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/蝴蝶园">蝴蝶园</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/妙峰山">妙峰山</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/北京蓝">北京蓝</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/八中">八中</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/新闻、乒乓球">新闻、乒乓球</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/徒步">徒步</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/高考">高考</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/医院">医院</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/活动">活动</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/永定河">永定河</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/生态">生态</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/房产">房产</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/樱桃">樱桃</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/旅游">旅游</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/民生">民生</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/拆迁">拆迁</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/门头沟">门头沟</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/墙体裂缝">墙体裂缝</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/安置房">安置房</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/定都阁">定都阁</a>
					</li>
									<li class="q-tagitem">
					<a class="a-tagitem" href="front/tags/新闻">新闻</a>
					</li>
								</ul>
					 </div>
		</div>


<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title"><i class="fa fa-comment-o fox-color-1" aria-hidden="true"></i> 未回复文章</h3>
  </div>
			   <!-- List group -->
			  <ul class="list-group">
					<li class="list-group-item">
						<span class="badge">04-20</span>
						<span class="label label-success">1</span>
						<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
							S1线6号线西延 明年年底开通
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">02-29</span>
						<span class="label label-success">2</span>
						<a href="front/article/1110.html" target="_blank" title="门头沟宅地楼面价被刷新">
							门头沟宅地楼面价被刷新
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">02-26</span>
						<span class="label label-success">3</span>
						<a href="front/article/1109.html" target="_blank" title="张贵林任北京市门头沟区委书记 韩子荣不再担任">
							张贵林任北京市门头沟区委书记 韩...
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">02-26</span>
						<span class="label label-info">4</span>
						<a href="front/article/1108.html" target="_blank" title="中骏39.48亿摘得门头沟地块 未来售价或将超8万">
							中骏39.48亿摘得门头沟地块 ...
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">02-21</span>
						<span class="label label-info">5</span>
						<a href="front/article/1107.html" target="_blank" title="河北将建一级高速公路对接北京门头沟">
							河北将建一级高速公路对接北京门头...
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">02-15</span>
						<span class="label label-info">6</span>
						<a href="front/article/1106.html" target="_blank" title="都是6环外 详解门头沟房价凭啥敢卖3万+">
							都是6环外 详解门头沟房价凭啥敢...
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">02-01</span>
						<span class="label label-info">7</span>
						<a href="front/article/1105.html" target="_blank" title="门头沟定都峰获评3A景区">
							门头沟定都峰获评3A景区
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">01-29</span>
						<span class="label label-info">8</span>
						<a href="front/article/1098.html" target="_blank" title="门头沟迎新春启动“送日历下乡”活动">
							门头沟迎新春启动“送日历下乡”活...
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">01-25</span>
						<span class="label label-info">9</span>
						<a href="front/article/1097.html" target="_blank" title="[16区代表“说”—门头沟]代表调研主题要与群众息息相关">
							[16区代表“说”—门头沟]代表...
						</a>
					</li>
					<li class="list-group-item">
						<span class="badge">01-25</span>
						<span class="label label-info">10</span>
						<a href="front/article/1096.html" target="_blank" title="门头沟速查周黑鸭、火锅等 未发现违法添加罂粟壳">
							门头沟速查周黑鸭、火锅等 未发现...
						</a>
					</li>
			  </ul>
			</div>

		<!-- 推荐文章 -->
<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title"><i class="fa fa-bookmark fox-color-1" aria-hidden="true"></i> 推荐文章<a class="more" href="front/article/recommend">更多</a></h3>
  </div>
	<ul class="list-group">
			<li class="list-group-item">
				<span class="badge">04-20</span>
				<a href="front/article/112.html" target="_blank" title="S1线6号线西延 明年年底开通">
					S1线6号线西延 明年年底开通
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">06-30</span>
				<a href="front/article/673.html" target="_blank" title="门头沟新桥炸鸡店">
					门头沟新桥炸鸡店
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">05-24</span>
				<a href="front/article/340.html" target="_blank" title="门头沟新新包子铺">
					门头沟新新包子铺
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">05-28</span>
				<a href="front/article/398.html" target="_blank" title="惠康嘉园">
					惠康嘉园
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">05-24</span>
				<a href="front/article/343.html" target="_blank" title="大峪中学">
					大峪中学
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">05-24</span>
				<a href="front/article/333.html" target="_blank" title="妙峰山">
					妙峰山
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">05-24</span>
				<a href="front/article/329.html" target="_blank" title="百花山">
					百花山
				</a>
			</li>
			<li class="list-group-item">
				<span class="badge">05-24</span>
				<a href="front/article/327.html" target="_blank" title="潭柘寺">
					潭柘寺
				</a>
			</li>
	  </ul>
</div>		
		<!-- 友情链接 -->
<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title"><i class="fa fa-users fox-color-1" aria-hidden="true"></i> 友情链接</h3>
  </div>
  
  <ul class="list-group">
		<li class="list-group-item">
			<a href="http://baike.baidu.com/view/193726.htm?fromtitle=%E9%97%A8%E5%A4%B4%E6%B2%9F&fromid=1055081&type=syn" target="_blank" title="门头沟介绍">
				门头沟介绍
			</a>
		</li>
		<li class="list-group-item">
			<a href="http://www.dyzx-bj.com/" target="_blank" title="大峪中学">
				大峪中学
			</a>
		</li>
		<li class="list-group-item">
			<a href="http://www.jflyfox.com/" target="_blank" title="Jflyfox博客">
				Jflyfox博客
			</a>
		</li>
  </ul>
  
</div>	


</div>

	
	  </div>

</div>


</body>
</html>