<% 
	var headContent = {
%>
	<% include("/pages/front/includes/header.html"){} %>
<script type="text/javascript">
<!--
	$(function(){
		$('.carousel').carousel({
			interval: 2000
		});
		
		// js加载避免优先级问题
		$('.more').css('float','right').css('font-size','12px').css('color','green');
		
	});
//-->
</script>

<%
};
%>

<%
var bodyContent = {
%>
<%  include("/pages/front/includes/header_menu.html"){} %>	


<div class="container">
	
	<div class="row">
	  
	  <!-- 图片 -->
	  <div class="col-md-8">
		
		<div class="panel panel-default">
		  <div class="panel-body" style="padding: 0px;">
	
				 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					  </ol>
	
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
						<% for(item in topPics.list){ %>
							<div style="height: 450px;" class="item ${itemLP.index==1?'active':''}">
							  	<% 
							  	var imageUrl = item.image_net_url;
							  	if(strutil.isEmpty(imageUrl)) { 
							  		imageUrl = 'download/image_url/'+item.image_url;
							  	} 
							  	%>
							   	<img src="${imageUrl}" alt="${item.title}">
							  <div class="carousel-caption">
								<h4></h4>
								<p>${item.title}</p>
							  </div>
							</div>
						<% } %>
						
						
					  </div>
	
					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">上一页</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">下一页</span>
					  </a>
					</div>
		  </div>
		</div>
	  
	  </div>
	  
	  <!--  新闻 -->
	  <div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3 class="panel-title">
				<a href="2" target="_blank">最新动态</a>
				<a class="more" href="2" target="_blank">更多</a>
			</h3>
		  </div>
		   <!-- List group -->
		  <ul class="list-group">
		  	<% for(item in news.list){ %>
				<li class="list-group-item">
					<span class="badge">${flyfox.substr(item.publish_time,5,10) }</span>
					<% if(itemLP.index <= 3) { %>
					<span class="label label-success">${itemLP.index}</span>
					<% } else { %>
					<span class="label label-info">${itemLP.index}</span>
					<% } %>
					<a href="front/article/${item.id}.html" target="_blank" title="${item.title}">
					<% if (strutil.length(item.title) > 16) { %>
						${strutil.subStringTo(item.title, 0, 16)}...
					<% 	} else { %>
						${item.title}
					<%  } %>
					</a>
				</li>
			<% } %>
		  </ul>
		</div>
	  
	
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
	  <!-- 广告位 -->
	  </div>
	</div>

	<div class="row">
	 	
	  <div class="col-md-8">
	  	<!-- 旅游 -->
	  	<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3 class="panel-title">
				<a href="4" target="_blank">旅游</a>
				<a class="more" href="4" target="_blank">更多</a>
			</h3>
		  </div>
		  <div class="panel-body">
		  
		  <div class="row">
		  <% for(item in travels.list){ %>
			<div class="col-sm-6 col-md-4">
		        <div class="thumbnail">
		          <a href="front/article/${item.id}.html" target="_blank">
		          	<% 
				  	var imageUrl = item.image_net_url;
				  	if(strutil.isEmpty(imageUrl)) { 
				  		imageUrl = 'download/image_url/'+item.image_url;
				  	} 
				  	%>
		          <img alt="${item.title}" src="${imageUrl }" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
		          </a>
		          <div class="caption">
		            <a href="front/article/${item.id}.html" target="_blank">${item.title}</a>
		          </div>
		        </div>
		      </div>
		      <% if(itemLP.index%3==0){ %>
		  </div>
		  <div class="row">
		      <% } %>
		  <% } %>
		  </div>
	
		  </div>
		</div>
		
		<!-- 地图 -->
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">地图</h3>
		  </div>
		  <div class="panel-body" style="padding: 0px;">
		  	<div  class="thumbnail" >
		    	    <img width="100%" height="450" src="http://api.map.baidu.com/staticimage?center=116.186394,39.907031&zoom=13&width=930&height=450&markers=116.109356,39.925625"/>
		    </div>
		  </div>
		</div>
	  </div>
	
	  <div class="col-md-4">	
		
		<!-- 美食 -->
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3 class="panel-title">
				<a href="3" target="_blank">美食</a>
				<a class="more" href="3" target="_blank">更多</a>
			</h3>
		  </div>
		  <div class="panel-body" style="padding-bottom:0px;">
			<div class="row">
			  <% for(item in foods.list){ %>
			  	<% if(itemLP.index <= 2){ %>
			  	 <div class="col-md-6">
					<div class="thumbnail">
					  <a href="front/article/${item.id}.html" target="_blank">
					 	<% 
					  	var imageUrl = item.image_net_url;
					  	if(strutil.isEmpty(imageUrl)) { 
					  		imageUrl = 'download/image_url/'+item.image_url;
					  	} 
					  	%>
					  <img alt="${item.title}" src="${imageUrl }" data-holder-rendered="true" style="height: 120px; width: 100%; display: block;">
					  </a>
					  <div class="caption">
						<a href="front/article/${item.id}.html" target="_blank">${item.title}</a>
					  </div>
					</div>
				  </div>
			      <% } %>
			  <% } %>
			</div>
		  </div>
			
		 <ul class="list-group">
		  	<% for(item in foods.list){ %>
		  		<% if(itemLP.index > 2){ %>
				<li class="list-group-item">
					<span class="badge">${flyfox.substr(item.publish_time,5,10) }</span>
					<a href="front/article/${item.id}.html" target="_blank" title="${item.title}">
					<% if (strutil.length(item.title) > 18) { %>
						${strutil.subStringTo(item.title, 0, 18)}...
					<% 	} else { %>
						${item.title}
					<%  } %>
					</a>
				</li>
				<% } %>
			<% } %>
		  </ul>
			
		</div>
		
		<!-- 教育 -->
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">
				<a href="5" target="_blank">教育</a>
				<a class="more" href="5" target="_blank">更多</a>
			</h3>
		  </div>
		  
		  <div class="panel-body" style="padding-bottom:0px;">
			<div class="row">
			  <% for(item in educations.list){ %>
			  	<% if(itemLP.index <= 2){ %>
			  	 <div class="col-md-6">
					<div class="thumbnail">
					  <a href="front/article/${item.id}.html" target="_blank">
					  	<% 
					  	var imageUrl = item.image_net_url;
					  	if(strutil.isEmpty(imageUrl)) { 
					  		imageUrl = 'download/image_url/'+item.image_url;
					  	} 
					  	%>
					  <img alt="${item.title}" src="${imageUrl }" data-holder-rendered="true" style="height: 120px; width: 100%; display: block;">
					  </a>
					  <div class="caption">
						<a href="front/article/${item.id}.html" target="_blank">${item.title}</a>
					  </div>
					</div>
				  </div>
			      <% } %>
			  <% } %>
			</div>
		  </div>
		  
		  <ul class="list-group">
		  	<% for(item in educations.list){ %>
		  		<% if(itemLP.index > 2){ %>
				<li class="list-group-item">
					<span class="badge">${flyfox.substr(item.publish_time,5,10) }</span>
					<a href="front/article/${item.id}.html" target="_blank" title="${item.title}">
					<% if (strutil.length(item.title) > 18) { %>
						${strutil.subStringTo(item.title, 0, 18)}...
					<% 	} else { %>
						${item.title}
					<%  } %>
					</a>
				</li>
				<% } %>
			<% } %>
		  </ul>
		  
		</div>
		
		<!-- 友情链接 -->
	  	<%  include("/pages/front/includes/friendly.html"){} %>
		</div>
	</div>

</div>
<%  include("/pages/front/includes/footer.html"){} %>
	
<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>
	
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
