@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
}

/***********************  table search ********************************/
.tableSearch {
	margin: 10px 15px 5px 15px;
	padding: 5px 10px 5px 15px;
	background-color: #E9E9E9;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

/************** 重写bootstrap3 样式 ********************************/
/** 去掉table和分页间隔 **/
.table {
	width: 100%;
	margin-bottom: 0px;
	/** bootstrap3 样式 **/
	/** margin-bottom: 20px; **/
}