<% 
	var headContent = {
	include("/pages/template/head.html"){}
%>

<script type="text/javascript">
var oper;
jQuery(function($) {
	// 页面方法
	oper = {
		width : 400,
		height : 430,
		form : document.form1,
		list : function() {
			var url = 'admin/contact/list';
			this.form.action = url;
			this.form.submit();
		},
		view : function(id) {
			var url = 'admin/contact/view/'+id;
			var title = '查看联系人';
			Iframe(url, this.width, this.height, title, false, false, false, EmptyFunc);
		},
		add : function() {
			var url = 'admin/contact/add';
			var title = '添加联系人';
			Iframe(url, this.width, this.height, title);
		},
		edit : function(id) {
			var url = 'admin/contact/edit/'+id;
			var title = '修改联系人';
			Iframe(url, this.width, this.height, title);
		},
		del : function(id) {
			var url = 'admin/contact/delete/'+id;
			var title = '确认要删除该联系人信息？';
			Confirm(title, function() {
				form1.action = url;
				form1.submit();
			});
		}
	};
	//显示Menu索引
	showMenu('page_contact');
});

//分页
var paginator = function(page) {
	oper.list();
};

</script>

<%
};

var bodyContent = {
%>
	<form name="form1" action="" method="post"  class="form-inline" role="form">
		<!-- 菜单 -->
		<% include("/pages/template/menu.html"){} %>

		<div class="tableSearch">
			<%  //查询列表 %>
			<div class="form-group">
					<input class="form-control" type="text" name="attr.name" value="${attr.name!''}" 
						placeholder="请输入姓名" required='required' />
			</div>
	 
			
			<button type="button" class="btn btn-default" onclick="oper.list();" name="search">
			 		<span class="glyphicon glyphicon-search"></span> 查 询
			</button>
			<button type="button" class="btn btn-default" onclick="resetForm();">
			 		<span class="glyphicon glyphicon-refresh"></span> 重 置
			</button>
			<button type="button" class="btn btn-default" onclick="oper.add();">
			 		<span class="glyphicon glyphicon-plus"></span> 新 增
			</button>
		</div>
		
		<!-- 数据列表 -->
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<%  // 列表头部 %>
					<th name="name" class="sorting">姓名</th> 
					<th name="phone" class="sorting">手机号</th> 
					<th name="email" class="sorting">Email</th> 
					<th>说明</th> 
 
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			<% for(item in page.list){ %>
				<tr>
					<td>${itemLP.index }</td>
					<%  // 列表内容 %>
					<td>${item.name}</td> 
					<td>${item.phone}</td> 
					<td>${item.email}</td>
					<td title="${item.remark}">
					<% if (strutil.length(item.remark) > 6) { %>
						${strutil.subStringTo(item.remark, 0, 6)}...
					<% 	} else { %>
						${item.remark}
					<%  } %>
					</td> 
	 
					<td>
					<a href="javascript:void(0);" class="btn btn-sm btn-success" onclick="oper.view(${item.id});">查看</a> 
					<a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="oper.edit(${item.id});">修改</a> 
					<a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick="oper.del(${item.id});">删除</a>
					</td>
				</tr>
			<% } %>
			</tbody>
		</table>
		<%include("/pages/includes/paginator.html"){} %>
	</form>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>