<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'admin/contact/save/'+id;
		form1.action = url;
		form1.submit();
		return true;
	}	
};
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<% // 列表头部 %>
		<tr>
			<td>姓名</td>
			<td>
					<input class="form-control" type="text" name="model.name" value="${model.name}" 
						valid="vtext" validname="名称"  />
			</td>
		</tr>
				<tr>
			<td>手机号</td>
			<td>
					<input class="form-control" type="text" name="model.phone" value="${model.phone}"  />
			</td>
		</tr>
				<tr>
			<td>Email</td>
			<td>
					<input class="form-control" type="EMAIL" name="model.email" value="${model.email}"  />
			</td>
		</tr>
				<tr>
			<td>地址</td>
			<td>
					<input class="form-control" type="text" name="model.addr" value="${model.addr}"  />
			</td>
		</tr>
				<tr>
			<td>生日</td>
			<td>
					<input class="form-control" type="DATE" name="model.birthday" value="${model.birthday}"  />
			</td>
		</tr>
				<tr>
			<td>说明</td>
			<td>
				<textarea class="form-control" rows="3" cols="30" name="model.remark">${model.remark}</textarea>
			</td>
		</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;">保 存</button>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>