<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
	<tr>
		<td>目录名称(${model.folder_id})</td>
		<td>${model.folderName  }</td>
		<td>名称</td>
		<td>${model.title}</td>
	</tr>
	<tr>
		<td>排序</td>
		<td>${model.sort}</td>
		<td>状态</td>
		<td>
			<% if(model.status=='2') { %>
			隐藏
			<%	} %>
			<% if(model.status=='1') { %>
			显示
			<%	} %>
		</td> 
	</tr>
	<tr>
		<td>是否评论</td>
		<td>
			<% if(model.is_comment==2) { %>
			否
			<%	} %>
			<% if(model.is_comment==1) { %>
			是
			<%	} %>
		</td> 
		<td>是否推荐</td>
		<td>
			<% if(model.is_recommend==2) { %>
			否
			<%	} %>
			<% if(model.is_recommend==1) { %>
			是
			<%	} %>
		</td>
	</tr>
	<tr>
		<td>类型</td>
		<td colspan="3">${flyfox.dictValue(model.type )  }</td>
	</tr>
	<tr>
	<tr>
		<td>发布时间</td>
		<td>${model.publish_time}</td>
		<td>发布者</td>
		<td>${model.publish_user}</td>
	</tr>
	<tr>
		<td>开始时间</td>
		<td>${model.start_time}</td>
		<td>结束时间</td>
		<td>${model.end_time}</td>
	</tr>
	<tr>
		<td>图片</td>
		<td colspan="3">
			<% if(!strutil.isEmpty(model.image_url)||!strutil.isEmpty(model.image_net_url)){ %>
				<a href="${flyfox.getImage(model)}" target="_blank" style="text-decoration:none;">
					<img alt="图片" title="点击浏览" src="${flyfox.getImage(model)}" width="40" height="40">
				</a>
				<br>${model.image_url}
			<% } %>
		</td>
	</tr>
	<tr>
		<td>附件</td>
		<td colspan="3">
			<% if(!strutil.isEmpty(model.file_url)){ %>
			<a href="${model.file_url }" target="_blank" style="text-decoration:none;">
				${model.file_name}
			</a>
			<% } %>
		</td>
	</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>