<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
	var oper = {
		save:function(id){
			if(!validForm()) {
				return false;
			}
			id = id || '0';
			var url = 'admin/folderrollpicture/save/'+id;
			form1.action = url;
			form1.submit();
			return true;
		}	
	};
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal"
		enctype="multipart/form-data" role="form">
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<%  // 列表头部%>
				<tr>
					<td>栏目</td>
					<td>
					<select name="model.folder_id" class="form-control" valid="vselect" validname="栏目">
						<option value="-1">--请选择--</option>
						${selectFolder }
						</select>
					</td>
				</tr>
				<tr>
					<td>题目</td>
					<td>
					<input class="form-control" type="text" name="model.title" value="${model.title }"  />
					</td>
				</tr>
				<tr>
					<td>内容</td>
					<td>
					<textarea class="form-control" rows="3" cols="30" name="model.content">${model.content}</textarea>
					</td>
				</tr>
				<tr>
					<td>排序</td>
					<td>
					<input class="form-control" type="text" name="model.sort" value="${model.sort!'20' }"  valid='vnum' validname='排序'  />
					</td>
				</tr>
				<tr>
					<td>状态</td>
					<td>
					<label class="radio-inline">
					  <input type="radio" name="model.status" id="" value="2"  ${model.status==2?"checked":"" } > 隐藏
					</label>
					<label class="radio-inline">
					  <input type="radio" name="model.status" id="" value="1"  ${model.status!=2?"checked":"" } > 显示
					</label>
					</td>
				</tr>
				<tr>
					<td>图片
						<% if(!strutil.isEmpty(model.image_url)||!strutil.isEmpty(model.image_net_url)){ %>
							<a href="${flyfox.getImage(model)}" target="_blank" style="text-decoration:none;">
								<img alt="图片" title="点击浏览" src="${flyfox.getImage(model)}" width="40" height="40">
							</a>
						<% } %></td>
					<td>
						<input type="text" class="form-control" name="model.image_net_url" 
							value="${model.image_net_url}" placeholder="网络图片url" />
						<input type="file" accept="image/*" class="form-control" name="model.image_url" />
					</td>
				</tr>
				<tr>
					<td>链接地址</td>
					<td>
					<input class="form-control" type="text" name="model.url" value="${model.url }"  />
					</td>
				</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;">保 存</button>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE; 
%>