<% var headContent = { %>
		<% include("/template/bbs/includes/header.html"){} %>
		
<% }; var bodyContent = { %> 

<%  include("/template/bbs/includes/header_menu.html"){} %>	

<div id="main" style="margin:0 2%;">

	<div class="row">
	<!-- 文章 -->
	<div class="col-md-8">	
		<div class="panel panel-default">
		  <div class="panel-heading" style="padding:0px;">
			<ol class="breadcrumb" style="margin:0px;">
			  <li><a href="${BASE_PATH }home.html">首页</a></li>
			  <li class="active">标签查询</li>
			</ol>
		  </div>
		  <div class="panel-body">
			<%  
				if(taglist != null && taglist.~size > 0) {
			%>
				<ul class="q-taglist clearfix">
					<li title="标签"><span class="q-icon"></span></li>
				<%
					for(tagitem in taglist){ 
				%>
					<li class="q-tagitem">
					<a class="a-tagitem" href="${BASE_PATH }front/tags/${tagitem.tagname}">${tagitem.tagname}</a>
					</li>
				<% 
					}
				%>
				</ul>
			<%
			} 
			%>
		 </div>
		</div>
	</div>
	
	<!-- 信息列表 -->
	<div class="col-md-4">	
	
		<!-- 推荐文章 -->
		<%  include("/template/bbs/includes/recommend.html"){} %>
		
		<!-- 友情链接 -->
		<%  include("/template/bbs/includes/friendly.html"){} %>
	</div>
	</div>
</div>
	
<%  include("/template/bbs/includes/footer.html"){} %>
	
<%}; %> 

<%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> 
<%} %>
