<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
						<tr>
				<td>名称</td>
				<td>${model.name}</td>
			</tr>
						<tr>
				<td>键</td>
				<td>${model.key}</td>
			</tr>
						<tr>
				<td>值</td>
				<td>${model.value}</td>
			</tr>
						<tr>
				<td>编码</td>
				<td>${model.code}</td>
			</tr>
						<tr>
				<td>类型</td>
				<td>${model.type}</td>
			</tr>
						<tr>
				<td>排序号</td>
				<td>${model.sort}</td>
			</tr>
						<tr>
				<td>更新时间</td>
				<td>${model.update_time}</td>
			</tr>
						<tr>
				<td>更新人</td>
				<td>${model.update_id}</td>
			</tr>
		
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>