<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
		<tr>
			<td>名称</td>
			<td>${model.name}</td>
		</tr>
					<tr>
			<td>URL</td>
			<td>${model.url}</td>
		</tr>
		<tr>
			<td>类型</td>
			<td>${flyfox.dictValue(model.type )  }</td>
		</tr>
					<tr>
			<td>排序号</td>
			<td>${model.sort}</td>
		</tr>
		<tr>
			<td>是否显示</td>
			<td>
			<% if(model.state==1) { %>
			显示
			<%	} %>
			<% if(model.state==2) { %>
			不显示
			<%	} %>
			</td>  
		</tr>
		<tr>
			<td>站点</td>
			<td>
			<% 
			var nowSite = null;
			if(!isEmpty(sites)) {
				for(item in sites) { 
					if(item.id==model.site_id) {
						nowSite = item;
					}
			    }
			 }
		     %>
		     ${isEmpty(nowSite)?'全部':nowSite.name}
			</td>  
		</tr>
		
		
		<tr>
			<td>备注</td>
			<td title="${model.remark}">
				<% if (strutil.length(model.remark) > 6) { %>
					${strutil.subStringTo(model.remark, 0, 6)}...
				<%	} else {%>
					${model.remark }
				<% } %>
			</td>
		</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>