<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			<tr>
				<td>创建时间</td>
				<td>${model.create_time}</td>
			</tr>
			<tr>
				<td>回复人</td>
				<td>${flyfox.getUserName(model.create_id)}</td>
			</tr>
			<tr>
				<td>文章</td>
				<td>${model.articleName}</td>
			</tr>
						<tr>
				<td>内容</td>
				<td>${model.content}</td>
			</tr>
						<tr>
				<td>状态</td>
				<td>
 
				<% if(model.status==11) { %>
				评论未读
				<%	} %>
				<% if(model.status==12) { %>
				评论已读
				<%	} %>
				<% if(model.status==21) { %>
				回复未读
				<%	} %>
				<% if(model.status==22) { %>
				回复已读
				<%	} %>

				</td> 
			</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>