<section class="mod-rightsidebar clearfix">
	<div class="mod-siderbar">
			<!-- 用户信息 -->
			<div class="mod-userinfo clearfix">
				<div class="userinfo-pic">
					<img src="http://tp2.sinaimg.cn/1070064257/180/5609304782/1" onerror="this.src='http://jfbbs.tomoya.cn/static/img/default_avatar.png'" title="" width="64"  height="64">
				</div>
				<div class="userinfo-info clearfix">
					<div class="userinfo-name"> 
					<a href="#" class="a-normal cs-sidebar-link left">chenxiaochun</a>
					</div>
					<div class="userinfo-attr">性别：<span>男</span>年龄：<span>25岁</span></div>
				</div>
				<div class="userinfo-fans">粉丝：<a href="#" target="_blank"><span>43</span></a></div>
				<div class="userinfo-btn">
						<a href="#" class="a-btn-follow">关注</a>
				</div>
				<div class="userinfo-btn-publish">
				<a href="${BASE_PATH }front/article/publish" class="btn btn-publish"><span style="color: white;">发&nbsp;布&nbsp;文&nbsp;章</span></a>
				</div>
			</div>

			<!-- Ta关注的人 -->
			<section id="follows">
			<div class="mod-follows">
				<div class="q-title">
					<a href="#"
						target="_blank" class="a-incontent cs-sidebar-link">Ta关注的人<span>(15)</span></a>
				</div>
				<ul class="q-followlist clearfix" id="qFollowList">
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://static.oschina.net/uploads/user/83/166354_100.jpg?t=1369141051000"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://tp2.sinaimg.cn/1070064257/180/5609304782/1"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://tp2.sinaimg.cn/1070064257/180/5609304782/1"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://tp2.sinaimg.cn/1070064257/180/5609304782/1"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://tp2.sinaimg.cn/1070064257/180/5609304782/1"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://static.oschina.net/uploads/user/83/166354_100.jpg?t=1369141051000"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://tp2.sinaimg.cn/1070064257/180/5609304782/1"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
					<li class="q-followitem">
						<a href="#" title="哈市的好男人">
							<img src="http://static.oschina.net/uploads/user/83/166354_100.jpg?t=1369141051000"
							alt="哈市的好男人" width="38" height="38">
							</a>
					</li>
				</ul>
			</div>
			</section>
	
			<!-- 标签 -->
			<div class="mod-taglist">
				<ul class="q-taglist clearfix">
					<li class="q-tagitem"><span class="q-icon"></span></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem">全部</a></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem" title="搞笑">搞笑</a></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem" title="张杰mv《着魔》">张杰mv《着魔》</a></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem" title="山东省">山东省</a></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem" title="爆笑">爆笑</a></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem" title="恶搞">恶搞</a></li>
					<li class="q-tagitem"><a href="#" class="a-tagitem" title="韩版白娘子传奇">韩版白娘子传奇</a></li>
				</ul>
			</div>

			<section id="articles">
				<div class="mod-articles">
					<div class="articles-title">推荐文章
					<a href="#" style="float: right;font-size: 12px;">更多>></a>
					</div>
					<div class="articles-list">
						<ul>
							<% for(item in recommendList){ %>
							<li title="${item.title}">
								<a href="front/article/${item.id}" target="_blank">●&nbsp;
								<% if (strutil.length(item.title) > 12) { %>
									${strutil.subStringTo(item.title, 0, 12)}...
								<% 	} else { %>
									${item.title}
								<%  } %>
								</a>
							</li>
							<% } %>
						</ul>
					</div>
				</div>
			</section>

			<section id="friendlinks">
				<div class="mod-friendlinks">
					<div class="friendlinks-title">+友情链接</div>
					<div class="friendlinks-linklist">
						<ul>
							<% 
							%>
							<% for(item in friendlylinkList){ %>
							<li>
								<a href="${item.url}" target="_blank">${item.name}</a>
							</li>
							<% 		
							 }
							 %>
						</ul>
					</div>
				</div>
			</section>

	</div>
 </section>