<% var headContent = { %>
		<% include("/template/blog/includes/header.html"){} %>
		<script type="text/javascript" src="${BASE_PATH }template/blog/regist/show_regist.js"></script>
		
		<style>
		<!--
			input {
				vertical-align:middle;
				line-height: 20px;
			}
			#picimageCode {
				vertical-align:middle;
				margin: 0;
				padding: 0;
			}
		-->
		</style>
<% }; var bodyContent = { %> 

<% include("/template/blog/includes/header_menu.html"){} %>

	<div class="x-page-container">
		<div class="mod-diary">
			<div class="mod-diary-top"></div>
			<div class="mod-diary-inner">
				<div class="mod-diary-pen"></div>
				<div class="mod-diary-nav"></div>
				<div class="mod-diary-clip"></div>
				<div class="mod-topspaceinfo">
					<h1>
						<a class="space-name" href="javascript:void(0);">注册信息</a>
					</h1>
				</div>
	
				<div class="mod-bloglist">
					<div class="mod-blogitem">
						<div class="box-postdate">
						</div>
						<div class="item-title">
							<a href="javascript:void(0);"></a>
						</div>
						
						<form name="form1" action="" method="post">
						<input type="hidden" name="pre_page" value="${pre_page!'' }" />
						
						<div class="item-content" style="margin-left: 280px;">
							<table>
								<tr>
									<td class="right_td">email：</td>
									<td class="left_td"><input name="model.email"  type="email" value=""></td>
								</tr>
								<tr>
									<td class="right_td">昵称：</td>
									<td class="left_td"><input name="model.realname" value=""></td>
								</tr>
								<tr>
									<td class="right_td">新密码：</td>
									<td class="left_td"><input name="password" type="password"
										value=""></td>
								</tr>
								<tr>
									<td class="right_td">再次密码：</td>
									<td class="left_td"><input name="password2" type="password"
										value=""></td>
								</tr>
								<tr>
									<td class="right_td">验证码：</td>
									<td class="left_td">
										<input name="imageCode" type="text"  value="">
								 		<img id="picimageCode" align="middle" width="60" height="26"  style="line-height: 18px;cursor:pointer;"
								 			 src="front/image_code" title="更换一张验证码图片" onclick="loadPicimageCode()"/>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="text-align: center;">
										<input type="button" value="注 册"  class="btn" onclick="oper_save();"/>
										&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="重 置"  class="btn" />
									</td>
								</tr>
							</table>
						</div>
						
						</form>
					</div>
				</div>
			</div>
			<div class="mod-diary-bottom"></div>
		</div>
	</div>
	
	<%  include("/template/blog/includes/footer.html"){} %>
	
<%}; %> 

<%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> 
<%} %>
