<style>
<!--
.userinfo .badge {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #777;
}
-->
</style>
<!-- 用户信息 -->
<div class="panel panel-default userinfo">
	  <div class="panel-heading">
		<h3 class="panel-title">用户信息</h3>
	  </div>
	  <!-- 
	  <div class="panel-body">
		  	<div class="thumbnail">
		      <img id="title_pic" alt="${user.userName }头像"  width="64" height="64" 
						 			class="img_radius" src="${user.title_url!'static/images/user/user.png'}">
		      <div class="caption">
		        <h3>${user.realname!''}</h3>
		        <p>&nbsp;&nbsp;&nbsp;&nbsp;${user.remark!''}</p>
		      </div>
		  	</div>
		  	
		  	<div class="btn-group btn-group-justified" role="group">
			   <div class="btn-group" role="group">
			    <a class="btn btn-success" href="front/person/newblog" role="button">发布博文</a>
			  </div>
			  <div class="btn-group" role="group">
			  	<a class="btn btn-default" href="front/person/profile" role="button">编辑信息</a>
			  </div>
			</div>
			
			
	  </div>
	   -->
	  <div class="list-group">
		<li class="list-group-item">
			<div class="row">
			  <div class="col-md-3">
			  		<a href="${BASE_PATH }front/person">
			  		<% 
						var userPic = user.title_url;
						if(isEmpty(userPic)){
							userPic = BASE_PATH + 'static/images/user/user.png';
						} else if(!strutil.startWith(userPic , 'http')) {
							userPic = ASE_PATH + userPic;
						}
					 %>
			  	  	<img id="title_pic" alt="${user.userName }头像"  width="64" height="64" 
						 		class="img_radius"	 src="${userPic}">
					</a>
			  </div>
			  <div class="col-md-9">
					<strong>${user.realname!''}</strong>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;${user.remark!'这个家伙太懒了，暂无说明'}</p>
			  </div>
			 </div>
		</li>
	  <a href="${BASE_PATH }front/person/newblog" class="list-group-item">
	  	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	  	发布博文
	  </a>
	  <a href="${BASE_PATH }front/person/article" class="list-group-item">
	  	<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	  	<span class="badge">${userarticle!''}</span>
	  	我的博文
	  </a>
	  <a href="${BASE_PATH }front/person/articlelike" class="list-group-item">
	  	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
	  	<span class="badge">${userlike!''}</span>
	  	喜欢博文
	  </a>
	  <!-- 
	  <a href="#" class="list-group-item">
	  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	  	<span class="badge">17</span>
	  	关注用户
	  </a>
	  <a href="#" class="list-group-item">
	  	<span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
	  	<span class="badge">22</span>
	  	我的粉丝
	  </a>
	   -->
	  <a href="${BASE_PATH }front/person/profile" class="list-group-item">
	  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	 	 编辑信息
	  </a>
	</div>	 
</div>